.box {
  height: 500px;
  border: 4px solid;
}
/* background-color */
.bg-color {
  background-color: teal;
}

/* background-clip */
.clip {
  background-color: orange;
  padding: 10px;
  border: 5px dashed;
  margin: 10px;
}
.content-box {
  background-clip: content-box;
}
.padding-box {
  /* 기본값 */
  background-clip: padding-box;
}
.border-box {
  background-clip: border-box;
}

/* background-image */
.bg-image {
  background-image: url(../../fish.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* fixed는 이미지를 고정시키징 않음 */
}

/* gradient */
.ba-gradient {
  background: linear-gradient(90deg, rgb(180, 71, 71), blue, orange);
}
.ba-radial {
  background: radial-gradient(circle, #00c6ff, #0072ff);
}
