.box {
  background: lightblue;
  border: 2px solid;
  margin: 10px;
}

.fixed {
  width: 200px;
  height: 100px;
}
.percent {
  width: 50%;
  height: 100%;
}
.parent {
  /* 부모 높이가 정해져 있지 않으면 
    %height는 계산할 기준이 없다 */
  background: pink;
  height: 200px;
}
.space {
  background: lightyellow;
  border: 1px solid;
  margin-bottom: 10px;
}
#padding1 {
  padding: 20px;
}
#padding2 {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
  /* 같은 의미임 순서대로 위 오른 아래 왼 (시계방향)padding: 30px 10px 20px 40px; */

  /* padding: 30px 20px 40px; */
  /* 이건 위 왼/오 아래임 */

  /* padding: 30px 20px; */
  /* 이건 위/아래 왼/오 임 */
}

#margin1 {
  margin: 20px;
}
#margin2 {
  margin: 5px 12px 10px 30px;
}
/*여기도 순서는 위에 패딩이랑 일치함 위 오른 아래 왼
한가지 주의 할점은 amrgin collapse(상쇄)현상 이다 예를 들어 위에박스 20px 아래 박스30px일 경우 30px로 계산함 */
#margin3 {
  width: 200px;
  margin: auto;
  /*오토로 정리하면 균일하게 가운데로 계산해줌.
   가운데로 맞춰서 밀어버리면 가운데로 안감*/
}

/*border*/
.border {
  width: 100px;
  height: 100px;
  background: #eee;
}

#border1 {
  /*border: 테두리 굵기 유형 색상*/
  /* solid:실선 dashed:점선 dotted:도트 */
  border: 3px dotted red;
}
#border2 {
  border: 5px solid green;
  border-radius: 10px;
  /* 선의 모서리를 깎아줌 */
}
#border3 {
  border: 4px solid orange;
  border-radius: 50%;
}

.box-sizing {
  width: 300px;
  height: 200px;
  background: lightcoral;
  margin: 10px;
  border: 10px solid;
  padding: 20px;
}
.box-content {
  /* 다른 것들과 합산해서 계산 */
  box-sizing: content-box;
}
.box-border {
  /* 다른걸 width와 height의 값만을 사용 */
  box-sizing: border-box;
}
.display {
  background-color: pink;
  width: 150px;
  height: 80px;
  margin: 5px;
}
.display-inline {
  display: inline-block;
  /* 그냥 display만 넣을 경우 width값과 height값이 사라짐 */
}

.display-block {
  display: block;
}
/* float, clear */

.float {
  float: right;
  /* lift혹은 right 사용 */
  width: 80px;
  height: 80px;
  background: skyblue;
  margin: 5px;
  text-align: center;
  line-height: 80px;
}
/* position */
.outer {
  width: 400px;
  height: 300px;
  background: #f4f4f4;
  position: relative;
  overflow: auto;
}
.position-box {
  width: 100px;
  height: 100px;
}
.relative {
  background: orange;
  position: relative;
  top: 20px;
  left: 30px;

  /* right:-30px;와 동일 */
  /* bottom: 20px; top이 있을 경우 보통 사용하지 않음 */

  /* position이 있을 때에만  사용 할 수 있음 */

  z-index: 1;
}
.absolute {
  background: green;
  position: absolute;
  /* absolute상단 가장 위 기준으로 만듦
    relative현재 위치 기준으로 만듦
  
  */
  z-index: 2;
  bottom: 20px;
  left: 50px;

  /* 숫자가 커질수록 위에 존재함 */
}

.fixed-p {
  position: fixed;
  background: red;
  top: 20px;
  right: 20px;
}
.sticky {
  background: blue;
  position: sticky;
  top: 0px;
  right: 20px;
}

/*hiden vs none*/
.vd {
  width: 100px;
  height: 100px;
  background: lightgray;
  margin: 10px;
  display: inline-block;
}
.hidden {
  visibility: hidden;
  /* 해당요소 숨김 */
}
.none {
  display: none;
  /* 이걸 보통 없애고 숨기고 하는걸 할때 이걸 함 */
}
