.btn {
  border: 2px solid #333;
  font-size: 1rem;
  background-color: #333;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  /* 손모양 통일 */
  text-decoration: none;
  border-radius: 5px;
  line-height: 1.3;
}

.btn:hover {
  transform: translateY(-2px);
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

.btn--red {
  background-color: indianred;
}
.btn--blue {
  background-color: blue;
  border: blue;
}
.btn--ghost {
  background: transparent;
  border: 2px dashed #999;
  color: #999;
}
body {
  background: yellow;
  border: 2px dashed;
  font-size: 1rem;
}
.card {
}
