body {
  text-align: center;
  margin: auto;
  justify-content: center;
  padding-top: 10%;
}

img {
  width: 250px;
  height: 250px;
  overflow: hidden;

  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
}

.red {
  background: red;
  cursor: pointer;
  border-radius: 10%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.blue {
  background: blue;
  border-radius: 10%;
  color: rgb(255, 196, 196);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}
