.background-image-left {
  position: absolute;
  top: 150vh;
  left: 0;
  width: 50vw; /* 화면 왼쪽 절반을 차지하도록 설정 */
  height: 200vh;
  background-image: url("./im/Background image-1-1.png");

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 0; /* 다른 모든 콘텐츠 뒤로 보내기 */
  image-rendering: -webkit-optimize-contrast; /* 화질 보정 */
}

.background-image-left-2 {
  position: absolute;
  top: 350vh; /* 첫 번째 이미지(100vh) 바로 아래에 위치 */
  left: 0;
  width: 70vw;
  height: 500vh;
  background-image: url("./im/Background image-1-3.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
  opacity: 70%;
}

.background-image-right {
  position: absolute;
  top: 100vh;
  right: 0;
  width: 50vw;
  height: 270vh;
  background-image: url("./im/Background image-1-2.png");

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0; /* 다른 모든 콘텐츠 뒤로 보내기 */
  image-rendering: -webkit-optimize-contrast;
}

.background-image-right-2 {
  position: absolute;
  top: 700vh; /* 첫 번째 이미지(100vh) 바로 아래에 위치 */
  right: 0;
  width: 80vw;
  height: 100vh;
  background-image: url("./im/Background image-1-4.png");
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
}

.background-image-2-1 {
  position: absolute;
  top: 200vh;
  left: 10vw;
  width: 75vw;
  height: 1000vh;
  background-image: url("./im/Background\ image-2-1.png");
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
}
.background-image-2-2 {
  position: absolute;
  top: 320vh;
  right: -10vw;
  width: 80vw;
  height: 1000vh;
  background-image: url("./im/Background\ image-2-2.png");
  background-size: 79% auto;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
}
.background-image-1-5 {
  position: absolute;
  top: 830vh;
  width: 100vw;
  height: 1000vh;
  background-image: url("./im/Background\ image-1-5.png");
  background-size: 150% auto;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
}
