main {
  position: relative;
  z-index: 1;
}

main nav {
  /* 높이 제한을 없애서 이미지 비율대로 높이가 잡히도록 수정 */
  width: 100%;
}

main nav img {
  width: 100%;
  height: auto; /* 이미지 원본 비율 유지 */
  display: block; /* 이미지 하단 미세한 공백 제거 */
  border-bottom: 7px solid rgba(37, 16, 15, 1);
}

main h3 {
  text-align: center;
  margin: 30px 0; /* 이미지와 간격을 주기 위한 여백 추가 */
}

main h3 a {
  background-color: rgba(64, 46, 45, 1);
  height: 50px;
  width: 200px;
  display: inline-flex; /* 가운데 정렬을 위해 inline-flex로 변경 */
  align-items: center;
  justify-content: center; /* 버튼 내부 텍스트를 가운데로 정렬 */
  color: rgba(197, 140, 122, 1);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px; /* 버튼처럼 보이도록 모서리를 둥글게 */
  border: 5px solid rgba(37, 16, 15, 1);
}

main m1 {
  display: flex;
  justify-content: flex-end; /* 자식 요소를 오른쪽으로 정렬 */
  margin: 50px 0; /* 위아래 여백 추가 */
}
main m1 p {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(42, 76, 105, 0.7);
  font-size: 0.8rem; /* 텍스트 크기 (원하는 크기로 숫자를 변경하세요) */
  line-height: 1.6; /* 줄 간격 */
  padding: 20px; /* 텍스트 주변 여백 */
  height: 300px;
  width: 280px;
  margin-right: 10%; /* 화면 오른쪽에서 10% 떨어진 위치에 배치 */
  border-radius: 45%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

main m2 {
  position: absolute;
  top: 100vh;
  left: 40%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(40, 75, 105, 1);

  width: 60%;
  word-break: keep-all;
  background-color: rgba(221, 197, 100, 1);
}

main m3 h1 {
  color: rgba(64, 46, 45, 1);
}
main m3 {
  position: absolute;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(110, 87, 50, 1);
  width: 40%;
  word-break: keep-all;
  margin-top: 20vh;
  transform: rotate(-15deg);
}
main m3 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: bold;

  background-color: rgba(110, 87, 50, 1);
  padding: 10px 20px;
  border-radius: 20px;
}
