// % : placeholder
@mixin btn($bg, $color) {
  border: 2px dashed;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: $bg;
  color: $color;
}

.success {
  @include btn(green, white);
}
.warning {
  @include btn(yellow, black);
}
.error {
  @include btn(red, white);
}
.mixin smDevice {
  @media (max-width: 480px) {
    @content;
  }
}
.mixin smDevice {
  @media (min-width: 700px) {
    @content;
  }
}
body {
  @include smDevice {
    background-color: blue;
  }

  @include mdDevice {
    background-color: red;
  }

  @include lgDevice {
    background-color: purple;
  }
}
@media (min-width: 480px) {
  body {
    background-color: blue;
  }
}
@media (min-width: 700px) {
  body {
    background-color: red;
  }
}
@media (min-width: 1024px) {
  body {
    background-color: purple;
  }
}
@media (min-width: 1280px) {
  body {
    background-color: pink;
  }
}
